#/wp-content/uploads/
#/wp-content/cache/
#/wp-content/wfcache/
#/wp-content/themes/fap/nbproject/
#/error_log
#/wp-content/error_log
#/robots.txt
#/wp-content/plugins/wordfence/tmp/
#/wp-content/plugins/really-simple-captcha/tmp/
#/nbproject/

wp-config.php
.htaccess
/wp-content/plugins/woocommerce